.btn{
  width: 21px;
    height: 21px;
    border: 1px solid #a7a7a7;
    border-radius: 26%;
    text-align: center;
    font-size: 10.5px; 
    line-height: 21px;
}

.btn:hover{
  background: #2dc492;
  color: #fff;
}

.selectBtn{
  width: 21px;
    height: 21px;
    border: 1px solid #a7a7a7;
    border-radius: 26%;
    text-align: center;
    font-size: 10.5px; 
    line-height: 21px;
    background: #2dc492;
}

.lockedBtn{
  width: 21px;
    height: 21px;
    border: 1px solid #a7a7a7;
    border-radius: 26%;
    text-align: center;
    font-size: 10.5px; 
    line-height: 21px;
    background: #d8d8d8;
}

.container{
  margin-left: 30%;
  margin-top: 5%;
}

.bookButton{
  margin-top: 20px;
    background: #0078ff;
    color: #fff;
    min-width: 238px;
    border-radius: 2px;
    padding: 15px 40px;
    margin-left: 9%;
    border-width: 0px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: center;
  min-height: 50px;

}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: #222;
    border-color: #080808;

}

.seatHeader{
  margin-right: 15px;
}